@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Chivo+Mono:ital,wght@1,100&family=Dongle:wght@300&family=DynaPuff&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:ital,wght@1,100&family=Dongle:wght@300&family=DynaPuff&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chivo+Mono:ital,wght@1,100&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Chivo Mono', monospace;
    align-items: center;
    background-color: #202020; 
    list-style-type: none;
    background-color: #333;
    position: fixed;
    width: 100%;
}
.menu {
    color: #ffff; 
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-shadow: 1px 1px rgb(197, 195, 202);
}
.navitens {
    list-style: none;
    display: flex;
}
.navitens li {
    padding-left: 40px;
}
.navitens li a {
    color: #ffff;
    text-decoration: none;
    font-size: 19px;
}
.navitens li a:hover {
    color: black;
    transition: 1s background;
    filter:  brightness(1) invert(1);
}
.banner {
    width: 100%;
}
.titulo {
    max-width: 60rem;
    margin-inline: auto;
    font-weight:bold;
    font-size: 45px;
    font-family: 'Acme', sans-serif;
    color: #131212;
    display: block;
    margin-bottom: 5rem;
    margin-top: 5rem;
}
.subtitulo {
    font-size: 22px;
    font-family: 'Chivo Mono', monospace;
}
.foto {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 30px;
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-inline: auto;
    max-width: 60rem;
    gap: 40px;
    margin-bottom: 50px;
    padding-inline: 1rem;
}
.texto {
    font-size: 20px;
    max-width: 1100px;
    font-family: 'Chivo Mono', monospace;
}

/*           CIDADES                  */
html {
    scroll-behavior: smooth;
}
.navcitys {
    display: flex;
    justify-content: space-around;
    font-family: 'Chivo Mono', monospace;
    align-items: center;
    background-color: #fff; height: 60px;
    margin-top: 0px; 
}
#navitenscitys {
    list-style: none;
    display: flex;
}
#navitenscitys li {
    padding: 100px;
    font-size: 19px;
    font-weight:bold;
}
#navitenscitys li a {
    text-decoration: none;
    color:black;
}
#navitenscitys li a:hover {
    border-bottom: 2px solid #202020;
}
.galeria-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#fotohospedagem {
    width: 150px;
    height: 150px;
    padding-top: 50px;
}